{% from 'macro_template.html' import macro_template %}
{% set section_content %}
<section class="py-5">
            <div class="row">


              <div class="col-xl-12 col-lg-6 mb-4 mb-xl-0" id="stretch">
                <a href="/stretch" style="text-decoration=none;">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <i class="fas fa-selrver">
                  <img src="static/img/little-man-chall.png">
                  </i>
                  <div class="flex-grow-1 d-flex align-items-center" style="padding-left: 2%;">
                    <!--<div class="dot mr-3 bg-violet"></div>-->
                    <div class="text">
                      <h6 class="mb-0" style="color: chocolate;">Alongamento</h6><span class="text-gray">3 x alongamentos de 10 minutos</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-orange">+5 pts</div>

                </div>
                  </a>
              </div>

              <div class="col-xl-12 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <i class="fas fa-selrver">
                  <img src="static/img/sleep-chall.png">
                  </i>
                  <div class="flex-grow-1 d-flex align-items-center" style="padding-left: 2%;">
                    <!--<div class="dot mr-3 bg-green"></div>-->
                    <div class="text">
                      <h6 class="mb-0">Soneca</h6><span class="text-gray">Durma ao menos 6 horas por noite durante 21 dias</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-orange">+15 pts</i></div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                  <i class="fas fa-selrver">
                  <img src="static/img/vaccine-chall.png">
                  </i>
                  <div class="flex-grow-1 d-flex align-items-center" style="padding-left: 2%;">
                    <!--<div class="dot mr-3 bg-blue"></div>-->
                    <div class="text">
                      <h6 class="mb-0">Zé Gotinha</h6><span class="text-gray">Tenha a vacinação em dia</span>
                    </div>
                  </div>
                  <div class="icon text-white bg-orange">+15 pts</div>
                </div>
              </div>

            </div>
          </section>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/js/main.js"></script>
{% endset %}
{{ macro_template(section_content) }}
